@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";

* {
    font-family: "Poppins", sans-serif !important;
}

$custom-theme-colors: (
    "blue-100": #0085ff,
    "blue-75": #339dff,
    "blue-50": #80baff,
    "blue-25": #a8d0ff,
    "yellow-100": #eed75c,
    "yellow-75": #ffe766,
    "yellow-50": #ffe999,
    "yellow-25": #fffde6,
    "red-100": #ef5d5d,
    "red-75": #f17878,
    "red-50": #f6a5a5,
);

.bg-second-blue {
    background: #339dff;
}

.bg-light-blue {
    background: #80baff;
}

.bg-white-blue {
    background: #f8fbff !important;
}

$custom-font-sizes: (
    7: $font-size-base * 3.5,
);

$font-sizes: map-merge($custom-font-sizes, $font-sizes);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

.btn-yellow {
    background: #ffe766 !important;
    color: white !important;

    &::before {
        background: #eed75c !important;
    }

    &:active {
        background: #ffe766 !important;
    }
}

.btn-blue {
    background: #339dff !important;
    color: white !important;

    &::before {
        background: #0085ff !important;
    }

    &:active {
        background: #339dff !important;
    }
}

.btn-red {
    background: #f17878 !important;
    color: white !important;

    &::before {
        background: #ef5d5d !important;
    }

    &:active {
        background: #f17878 !important;
    }
}

.btn3d {
    background: white;
    border-radius: 10px;
    border: 0;
    color: black;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &::before {
        background: gainsboro;
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(0, 0.5em, -1em);
        transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 100%;
    }

    &:hover {
        transform: translate(0, 0.25em);

        &::before {
            transform: translate3d(0, 0.25em, -1em);
        }
    }

    &:active {
        background: white;
        transform: translate(0, 0.5em);

        &::before {
            transform: translate3d(0, 0, -1em);
        }
    }
}

.img-bg {
    position: absolute;
    right: 0;
}

.side-divider {
    transform: translateX(1px);
}

.behind {
    z-index: -1;
}

.front {
    z-index: 1;
}

.float-body {
    margin-top: 100px;
    padding-top: 75px;
    border-radius: 15px;
}

.float-container {
    width: 150px;
    height: 175px;
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    top: 0;
}
.float-container img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    object-fit: cover;
}

.id {
    position: absolute;
    top: 110px;
}

.float-body {
    margin-top: 100px !important;
    padding-top: 75px !important;
    border-radius: 15px !important;
}

.float-container {
    width: 150px;
    height: 175px;
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    top: 0;
}
.float-container img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    object-fit: cover;
}

.img-container {
    height: 250px;
    overflow: hidden;
}
.img-container img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    object-fit: cover;
}

.text-50 {
    color: rgba(255, 255, 255, 0.6);
}

.id {
    position: absolute;
    top: 110px;
}

.bg-left {
    top: 25%;
    left: 0;
    position: fixed;
}
.bg-right {
    top: 75%;
    right: 0;
    position: fixed;
}

.meeting {
    overflow-y: auto;
    max-height: 250px;
    scrollbar-width: none !important;
}

.meeting::-webkit-scrollbar {
    display: none !important;
}

@media screen and (max-width: 756px) {
    .meeting {
        max-height: 300px;
    }
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-25 {
    border-radius: 25px;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
